@charset "utf-8";

body {
  font-family: 'Klee One', cursive, 'Noto Sans JP', sans-serif;
  color: #7f8082;
  line-height: 1.8rem;
}

@keyframes start {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

main,
footer {
  z-index: 1;
  position: relative;
}

.main_bg {
  background-image: url(../image/star_bg.png);
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-color: #ffffff28;
  position: relative;
}

.main_bg::before {
  content: "";
  background-color: #ffffffb8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}


.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.sp_only {
  display: block;
}

.pc_only {
  display: none;
}

header {
  position: relative;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}

header h1 img {
  width: 80px;
  height: 40px;
  object-fit: contain;
  animation: start 3s;
}



.sp_menu #open {
  font-size: 32px;
  cursor: pointer;
  color: #ffffffb5;
  vertical-align: middle;
  text-shadow: 0 0 16px #fff;
}

.sp_menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(147, 147, 147, 0.95);
  text-align: center;
  padding: 160px 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  z-index: 2;
}

.overlay li {
  opacity: 0;
  transform: translateY(16px);
  margin-top: 32px;
  transition: opacity .6s, transform .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2em;
  animation: start 3s;
  text-shadow: 0 0 16px #fff;

}

.overlay #close {
  position: absolute;
  top: 48px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 16px #fff;
}

.main_area {
  position: relative;

}

.main_kv {
  background-image: url(../image/main.JPG);
  height: 700px;
  background-size: cover;
  background-position: center bottom;
}

.main_title {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin-left: -150px; */
  margin-top: 160px;
  animation: start 3s;
  text-align: center;
}

.main_title img {
  width: 300px;
  height: 120px;
  object-fit: contain;
}

.title2,
.title3,
.gallery_num {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.title2 {
  font-size: 2rem;
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 5rem;
  color: white;
  -webkit-text-stroke: 1px #535353;
  font-weight: bold;
}

.title3 {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  text-align: center;
}

.border_t3 {
  width: 10%;
  border-bottom: 1px solid #ccc;
  margin: 8px auto 0;
}

#event a {
  color: #999999;
  text-decoration: none;
}

#event ul {
  margin-top: 2rem;
}

#event ul li {
  margin-top: 2rem;
  list-style: none;
  background: #fff;
  box-shadow: 8px 8px #ccc;
  border-radius: 24px 0 24px 0;
  padding: 12px 12px 24px;
  border-left: 2px solid #ccc;
  border-top: 2px solid #e6e6e6;
  transition: opacity .3s;
}

#event ul li:hover {
  opacity: .9;
}

#event ul p {
  margin-top: 1rem;
  padding: 0 24px;
}

.btn {
  display: block;
  border: 1px solid #fff;
  background-color: #999999;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  margin: 0 auto;
  text-decoration: none;
  width: 260px;
  text-align: center;
  margin-top: 1.2rem;
}

#gallery {
  /* position: relative; */
}

.gallery_box {
  position: relative;
}

.gallery_box img {
  margin-top: 2rem;
}

.gallery_num {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0.2rem;

}

.gallery_text {
  padding: 0 24px;
  margin-top: 1rem;
}

#gallery .gbi_star03,
#gallery .gbi_star04 {
  display: none;
}

.maru {
  pointer-events: none;
}

/* #gallery .gbi_star04 {
  position: absolute;
  left: -800px;
  bottom: -200px;
  z-index: -99;
} */

#access dt,
#access dd {
  padding: 8px 0;
}

#access img {
  margin-top: 2rem;
  height: 200px;
  object-fit: cover;
}

.dl_flexbox {
  padding: 0 24px;
  /* margin-top: 2rem; */
}

.dl_flexitem {
  padding: 24px 0;
}

.dl_flex {
  display: flex;
}

.dl_flex dt {
  flex: 1;
}

.dl_flex dd,
.dl_flex div {
  flex: 2;
}

.dl_line {
  border-bottom: 1px solid #999999;
}

#access {
  /* z-index: 1; */
  position: relative;
}

#access dt {
  float: left;
}

.footer_img {
  background-image: url(../image/main.JPG);
  height: 600px;
  /* margin-top: 24px; */
  background-size: cover;
  background-position: 30%;
  /* opacity: 0.8; */
}

.footer_nav {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}

.footer_nav li+li {
  border-top: 1px solid #ccc;
}

.footer_nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px;
  text-shadow: 0 0 16px #fff;
}



.footer_img img {
  object-fit: contain;
  display: block;
  width: 60px;
  height: 30px;
  padding-top: 110px;
  margin: 0 auto;
}

footer small {
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 8px;
}


.sns_icon {
  width: 80%;
  margin: 40px auto 0;
}

.sns_icon ul {
  display: flex;
  justify-content: space-between;
}

.sns_icon .bi {
  color: #fff;
  font-size: 2rem;
  display: inline-block;
}

a.page_up {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 50px;
  text-decoration: none;
  color: #535353;
  /* background: #ccc; */
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  z-index: 5;
  position: relative;
  /* border-left: 1px solid #ccc; */
  border-top: 1px solid #ccc;
  /* border-right: 1px solid #ccc; */
  border-radius: 50%;
  margin-top: 2rem;
}

a.page_up div {
  margin-top: -1rem;
}

@media(min-width:800px) {


  #event ul {
    display: flex;
    gap: 28px;
  }

  #event ul p {
    /* height: 180px; */
  }

  #event ul li {
    flex: 1;
  }

  .dl_flexbox {
    padding: 0 48px;
  }
}

@media (min-width:1000px) {
  .main_bg {
    background-image: url(../image/star_bg.png);
    background-size: 1500px auto;
    background-repeat: no-repeat;
    background-position: center 1100px;
  }

  .main_bg::before {
    background-color: transparent;
  }

  .title2 {
    font-size: 3rem;
  }

  .main_title {
    /* position: absolute; */
    /* top: 70%; */
    /* left: 31%; */
    /* margin-left: -200px; */
    /* margin-top: -80px; */
  }

  .main_title {
    margin-top: 260px;
    animation: start 3s;
    text-align: left;
    padding: 24px;
  }

  .main_title img {
    width: 400px;
    height: 160px;
  }

  .main_area nav a {
    line-height: 2.8rem;
  }

  header h1 img {
    width: 120px;
    height: 60px;
  }

  .sp_only {
    display: none;
  }

  .pc_only {
    display: block;
  }

  .sp_menu {
    display: none;
  }

  .header_nav ul {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    animation: start 3s;

  }

  .header_nav ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2em;
    text-shadow: 0 0 16px #fff;
  }

  .title2 {
    margin-top: 8rem;
  }

  #event ul p {
    /* height: 120px; */
  }

  #gallery {
    position: relative;
  }

  .gallery_rel {
    position: relative;
  }

  #gallery .gbi_star03,
  #gallery .gbi_star04 {
    display: block;
  }

  #gallery .gbi_star03 {
    position: absolute;
    right: -600px;
    top: -500px;
    z-index: -1;
  }

  #gallery .gbi_star04 {
    position: absolute;
    left: -700px;
    bottom: -500px;
    z-index: -1;
  }

  .border_l {
    width: 200px;
    border-top: 1px solid #999999;
    position: absolute;
    top: 30px;
    left: 340px;
  }

  .border_r {
    width: 200px;
    border-top: 1px solid #999999;
    position: absolute;
    right: 340px;
    bottom: 27px;
  }

  .border_l div,
  .border_r div {
    position: absolute;
    font-size: 1rem;
  }

  .border_l div {
    font-size: 1rem;
    top: -16px;
    left: -13px;
  }

  .border_r div {
    font-size: 1rem;
    top: -16px;
    right: -13px;
  }

  .gallery_box_itemflex {
    display: flex;
    /* gap: 24px; */
  }

  .gallery_box img {
    margin-top: 4rem;
    z-index: 4;
  }

  .gallery_text {
    padding: 0;
  }

  .gbi_1,
  .gbi_3 {
    flex: 1;
  }

  .gbi_2 {
    order: -1;
  }

  .gallery_box img.gbi_3 {
    margin-top: -13rem;
  }

  .gbi_2,
  .gbi_4 {
    padding: 0 24px;
    margin-top: 9.2rem;
    /* width: 400px; */
    flex: 1;
  }

  .gallery_num {
    font-size: 2rem;
    margin-top: 0;

  }

  .gbi_2 .gallery_num {
    text-align: left;
  }

  .gbi_4 .gallery_num {
    text-align: left;
  }

  .gallery_text {}

  .gbi_2 .btn {
    margin: 1.2rem 0 0;
  }

  .gbi_4 .btn {
    margin: 1.2rem 0 0 auto;
  }

  .dl_line {
    border-bottom: none;
    border-right: 1px solid #999999;
  }

  .dl_flexbox {
    display: flex;
    padding: 0;
  }

  .dl_flexbox dl {
    flex: 1;
  }

  .dl_flexitem {
    margin-top: 40px;
    padding: 0 40px;
  }

  #access img {
    margin-top: 4rem;
  }

  .footer_img {
    /* margin-top: 10rem; */
    height: 200px;
  }

  .footer_img img {
    width: 120px;
    height: 60px;
    padding-top: 0;
    margin: -58px 0 0 0;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
  }

  .footer_nav {
    padding-top: 68px;
    width: 80%;
    margin: 0 0 0 auto;
  }

  .footer_nav li+li {
    border-top: none;
  }

  .footer_nav li a {
    padding: 0 0 0 18px;
  }

  .sns_icon {
    margin: 0;
  }

  .sns_icon ul {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    padding-left: 170px;
  }

  footer small {
    text-align: right;
    margin-top: -24px;
  }

  .btn {
    transition: background-color 0.3s, color .4s;
  }

  .btn:hover {
    background-color: #fff;
    color: #999999;
    border: 1px solid #999999;
  }

  a.page_up {
    margin-top: 10rem;
  }
}

@media(min-width:1600px) {
  /* .main_kv {
    background-position: 0 -160px;
  } */
}

@media(min-width:1960px) {
  /* .main_kv {
    background-position: 0 -300px;
  } */

}

@media(min-width:3000px) {
  /* .main_kv {
    background-position: 0 -800px;
  } */
}